{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job Post</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h1 class="text-center">Edit Job Post</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Job Name</label>
                <input type="text" name="name" value="{{ job.name }}" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Job Description</label>
                <input type="text" name="desc" value="{{ job.desc }}" class="form-control" id="desc">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Job Location</label>
                <input type="text" name="location" value="{{ job.location }}" class="form-control" id="location">
            </div>
            <div class="mb-3">
                <label for="salaryfrom" class="form-label">Starting Salary</label>
                <input type="text" name="salaryfrom" value="{{ job.salary_from }}" class="form-control" id="salaryfrom">
            </div>
            <div class="mb-3">
                <label for="salaryto" class="form-label">Ending Salary</label>
                <input type="text" name="salaryto" value="{{ job.salary_to }}" class="form-control" id="salaryto">
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" name="tags" value="{{ job.tags }}" class="form-control" id="tags">
            </div>
            <button type="submit" class="btn btn-primary">Update Job</button>
        </form>
    </div>
    <!-- <h1>Edit Job Post</h1>
    <form method="post">
        {% csrf_token %}
        
        <input type="text" name="name" value="{{ job.name }}" placeholder="Job Name"><br>
        <input type="text" name="desc" value="{{ job.desc }}" placeholder="Job Description"><br>
        <input type="text" name="location" value="{{ job.location }}" placeholder="Location"><br>
        <input type="text" name="salaryfrom" value="{{ job.salary_from }}" placeholder="Starting Salary"><br>
        <input type="text" name="salaryto" value="{{ job.salary_to }}" placeholder="Ending Salary"><br>
        <input type="text" name="tags" value="{{ job.tags }}" placeholder="Tags"><br>
        
        <input type="submit" value="Update Job">
    </form> -->
    <!-- 
    <div>
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    </div> -->
    {% endblock %}
</body>

</html>