{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h1 class="text-center">Job List</h1>

        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <div class="row">
            {% for job in jobs %}
            <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                <h3 class="card-title">{{ job.name }}</h3>
                <p class="card-text">{{ job.desc }}</p>
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Salary Range:</strong> {{ job.salary_from }} - {{ job.salary_to }}</p>
                <p><strong>Tags:</strong> {{ job.tags }}</p>
                <a href="{% url 'edit_job' job.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_job' job.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>