{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h1 class="text-center">Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!-- <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit">
    </form> -->
    <!-- <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div> -->
    {% endblock %}
</body>

</html>